{% extends 'portfolio/base.html' %}

{% block title %}
Contact | Sami Zaman
{% endblock %}

{% block content %}

<section class="py-5">

    <div class="container">

        <h1 class="section-title text-center">
            Contact Me
        </h1>

        <div class="row mt-5">

            <div class="col-md-6 mx-auto">

                <div class="contact-card">

                    <h3>
                        Let's Work Together
                    </h3>

                    <p class="mt-3">
                        Feel free to contact me for internship,
                        software development or backend development
                        opportunities.
                    </p>


                    <hr>


                    <p>
                        <strong>Email:</strong>
                        samizaman987@gmail.com
                    </p>

                    <p>
                        <strong>Phone:</strong>
                        01952806333
                    </p>


                    <div class="mt-4">

                        <a
                            href="mailto:samizaman987@gmail.com"
                            class="btn btn-primary"
                        >
                            Email Me
                        </a>

                        <a
                            href="https://github.com/Mohammad-Sami-Zaman"
                            target="_blank"
                            class="btn btn-dark"
                        >
                            GitHub
                        </a>

                        <a
                            href="https://www.linkedin.com/in/sami-zaman-0b714a358"
                            target="_blank"
                            class="btn btn-primary"
                        >
                            LinkedIn
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}